* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;  	
}

body {
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 16px;
	background-image: url("../img/fondo.jpg");
}


.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}



/*----HEADER-----*/
/*----HEADER-----*/
/*----HEADER-----*/

header {
	width: 100%;
	background: url("../img/header.jpg"); 
	background-size: cover;
	background-attachment: fixed;
	background-position: center 0;

}

header .contenedor {
	position: relative;
	height: 400px;
}

header .barranav {
	width: 100%;
	text-align: right;
	
}

header .barranav a {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 40px 20px;
	text-decoration: none;
	position: relative;
	transition:500ms ease;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
}

header .barranav a:hover {
	text-decoration: underline;
	transform:scale(1.25);
	-webkit-transform:scale(1.25);
	-moz-transform:scale(1.25);
	-o-transform:scale(1.25);
}



header .contenedor .logo img {
	border-radius: 50%;
}

/*---MODO NOCTURNO-----*/
/*---MODO NOCTURNO-----*/
/*---MODO NOCTURNO-----*/

.fa-adjust{
	font-size:40px;
	border: none;
	
	padding: 3px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;

	}


button{
	border-radius: 100%;
	float: right;
	margin-right:45px;
}


.dark {
	background: #000;
}
.bodydark {
	background-image: url("../img/fondo.jpg");
	background-color: rgb(50,50,50);
	background-blend-mode: soft-light;
}

.headerdark {
	background: url("../img/header.jpg"); 
	background-color: rgb(50,50,50);
	background-blend-mode: soft-light;
	background-size: cover;
	background-attachment: fixed;
	background-position: center 0;

}

.descripciondark {
	color:#000;
}


/*---MODO NOCTURNO-----*/
/*---MODO NOCTURNO-----*/
/*---MODO NOCTURNO-----*/

.home {
	font-size: 60px;
	margin-left: 20px;

}

.home i {
	color:#ca5721;
	transition:500ms ease;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	cursor: pointer;
}
.home i:hover {
transform:scale(1.25);
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-o-transform:scale(1.25);
}


.main .quienes-somos .contenedor {
	overflow: visible;
	position: relative;
}

.main .quienes-somos .foto {
	width: 80%;
	position: absolute;
	left: 0;
	top: -50px;
	z-index: 0;
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.35);
	box-shadow: 0px 0px 15px rgba(0,0,0,.35);
}

.main .quienes-somos .foto img {
	vertical-align: top;
	width: 100%;
}


.main .quienes-somos article {
	background-color: #dfddee;
	padding: 40px;
	width: 50%;
	position: relative;
	float: right;
	top:550px;
	z-index: 1;
	float: right;
	box-shadow: 0px 0px 15px rgba(0,0,0,.35);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.35);
}

.main .quienes-somos article h3 {
	font-style: 50px;
	font-weight: 300;
	margin-bottom: 40px;
}

.main .quienes-somos article p {
	line-height: 28px;
	margin-bottom: 15px;
}


/*------MENU-----*/
/*------MENU-----*/
/*------MENU-----*/



.menu .titulo {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

.menu .contenedor-menu,
.menu .contenedor-menu2 {
	border: 1px solid #000;
	background: transparent;
	padding: 10px;
	overflow: hidden;
}
.menu article {
	width: 50%;
	float: left;
	padding: 20px;

}

.menu .categoria {
	font-style: 22px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
}

.menu .platillo {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 4px dotted #000;
	overflow: hidden;
}

.menu .nombre {
	font-style: 20px;
	margin-bottom: 15px;
	float: left;
}

.menu .precio {
	font-style: 20px;
	margin-bottom: 15px;
	float: right;
}

.menu .descripcion {
	font-style: 16px;
	color: #676767;
	clear: both;
}

.menu .adicionales {
	font-size: 14px;
	margin-bottom: 15px;
	float: left;
	clear: both;
}

/*----PROMOS----*/
/*----PROMOS----*/
/*----PROMOS----*/

.main .promos {
	padding-top: 570px;
	margin-bottom: 50px;
}

.promos .titulo {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

.promos .contenedor-menu,
.promos .contenedor-menu2 {
	border: 1px solid #000;
	background: transparent;
	padding: 10px;
	overflow: hidden;
}
.promos article {
	width: 50%;
	float: left;
	padding: 20px;

}

.promos .categoria {
	font-style: 22px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
}

.promos .platillo {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 4px dotted #000;
	overflow: hidden;
}

.promos .nombre {
	font-style: 20px;
	margin-bottom: 15px;
	float: left;
}

.promos .precio {
	font-style: 20px;
	margin-bottom: 15px;
	float: right;
}

.promos .descripcion {
	font-style: 16px;
	color: #676767;
	clear: both;
}

.promos .adicionales {
	font-size: 14px;
	margin-bottom: 15px;
	float: left;
	clear: both;
}



/*----FORMULARIO------*/
/*----FORMULARIO------*/
/*----FORMULARIO------*/

.formulario {
	margin-top: 15px;

}

.formulario .contenedor-inputs{
	padding: 20px;
	background: #fff;
	border-radius:6px 6px 0 0;
}

.formulario input[type="text"],
.formulario input[type="email"] {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 15px 10px;
	border:none;
	border-bottom: 2px solid #ccc;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus {
	border-bottom: 2px solid #246eb9;
}

.formulario input[type="radio"]{
	display: none;
}

.formulario .sexo {
	display: flex;
	flex-wrap: no-wrap;
	justify-content:space-between;
	margin-bottom: 20px;
}

.formulario .sexo .label-radio {
	width: 49.5%;
}

.formulario .sexo .hombre {
	border-radius: 3px 0 0 3px;
}

.formulario .sexo .mujer {
	border-radius: 0 3px 3px 0;
}

.formulario .label-radio{
	background: rgba(240, 124, 70, .4);
	color: #fff;
	padding:10px 10px;
	text-align: center;
}

.formulario input[type="radio"]:checked + .label-radio{
	background: #be4207;
	color: #fff;
}

.consultas textarea {
	width: 100%;
}

.formulario .robot {
	/*margin-bottom: 20px;*/
	text-align: center;
	color: #424242;
}

.formulario .robot label {
	margin-left: 10px;
}

.formulario .error {
	display: none;
	margin-top: 20px;
	border-radius: 3px;
	background: #ce1818;
	color: #fff;
	padding: 15px 10px;
	padding-left: 40px;
}

.formulario .btn {
	width: 100%;
	text-align: center;
	background: #7d2c04;
	color: #fff;
	border: none;
	display: block;
	padding: 15px 10px;
	cursor: pointer;
	border-radius: 0 0 6px 6px;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}

.formulario .btn:hover {
	background: #9a390a;
}


/*------UBICACION------*/
/*------UBICACION------*/
/*------UBICACION------*/



.main .ubicacion {
	
	padding: 60px 0;
	

}

.main .ubicacion .titulo {
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 40px;
}

.main .ubicacion .direccion {
	float: left;
	width: 50%;
	text-align: left;
}

.main .ubicacion .horarios {
	float: right;
	width: 50%;
	text-align: right;
}
 .main .ubicacion .direccion .calle {
 	margin-bottom: 15px;
 }

 .main .ubicacion .horarios {
	overflow: hidden;
}

 .main .ubicacion .horarios h4 {
 	text-align: center;
 	margin-bottom: 20px;
	
 }


.main .ubicacion .horarios .entre-semana {
	width: 100%;
	
	text-align: center;
}

.main .mapa {
	width: 100%;
	overflow: hidden;
}

.main .mapa iframe {
	width: 100%;
	max-height: 600px;
}

/* ----- ----- FOOTER ----- ----- */
/* ----- ----- FOOTER ----- ----- */
/* ----- ----- FOOTER ----- ----- */

footer {
	background: #000;
}

footer .redes {
	text-align: center;
	padding: 15px 0;
	color: #fff;
}

.redes .facebook i{
	font-size: 20px;
}



/*---------QUERIES------*/
/*---------QUERIES------*/
/*---------QUERIES------*/

@media screen and (max-width: 800px) {
	header .contenedor {
		position: static;
		height: auto;
	}
	
	header .logo {
		position: static;
		margin: 100px 0;
	}

	header .menu {
		text-align: center;
	}
	
	header .menu a {
		margin: 10px 20px;
	}

	header .contenedor .logo {
		text-align: center;

	}

	.main .quienes-somos .foto {
		width: 100%;
		position: relative;
	}

	.main .quienes-somos article {
		position: relative;
		width: 100%;
		top: -50px;
		transform: translate(0px, 0); 
	}

	.main .promos {
		padding-top: 300px;
	}

	.main .promos article {
		width: 100%;
	}

	.main .mapa {
		width: 100%;
		margin: auto;
	}
	button{
	float: none;
	margin-bottom: 70px;
}
}


@media screen and (max-width: 400px) {
	.main .quienes-somos article h3 {
		font-size: 34px;
		margin-bottom: 10px;
	}
	
	.main .promos article .nombre,
	.main .promos article .precios {
		font-size: 16px;
		line-height: 16px;
	}
	
	.main .ubicacion .direccion {
		margin-bottom: 15px;
	}
	
	.main .ubicacion .direccion,
	.main .ubicacion .horarios {
		width: 100%;
		text-align: center;
	}

}